<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="header-container">
            <div class="logo">
                <a href="/">Homi<span>fy</span></a>
            </div>
            <nav class="main-nav">
                <ul>
                    <li><a href="/homepage" class="active">Home</a></li>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/profiles">Profiles</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>